<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <uses-feature android:name="android.hardware.type.watch" />

    <application
        android:name=".MoneyApplication"
        android:allowBackup="false"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/data_extraction_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Money">

        <meta-data
            android:name="com.google.android.wearable.standalone"
            android:value="true" />

        <uses-library
            android:name="com.google.android.wearable"
            android:required="false" />

        <activity
            android:name=".presentation.MainActivity"
            android:exported="true"
            android:taskAffinity=""
            android:theme="@style/Theme.Money.SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver
            android:name=".worker.BootReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <service
            android:name=".tiles.CurrencyTileService"
            android:exported="true"
            android:label="@string/tile_label"
            android:icon="@drawable/ic_exchange"
            android:permission="com.google.android.wearable.permission.BIND_TILE_INSTANCE">
            <intent-filter>
                <action android:name="androidx.wear.tiles.action.BIND_TILE_SERVICE" />
            </intent-filter>
            <meta-data
                android:name="androidx.wear.tiles.PREVIEW"
                android:resource="@drawable/tile_preview" />
        </service>

        <service
            android:name=".tiles.MultiCurrencyTileService"
            android:exported="true"
            android:label="Multi Currency Tile"
            android:icon="@drawable/ic_exchange"
            android:permission="com.google.android.wearable.permission.BIND_TILE_INSTANCE">
            <intent-filter>
                <action android:name="androidx.wear.tiles.action.BIND_TILE_SERVICE" />
            </intent-filter>
            <meta-data
                android:name="androidx.wear.tiles.PREVIEW"
                android:resource="@drawable/tile_preview" />
        </service>

        <service
            android:name=".tiles.BigNumberCurrencyTileService"
            android:exported="true"
            android:label="Big Number Rate"
            android:icon="@drawable/ic_exchange"
            android:permission="com.google.android.wearable.permission.BIND_TILE_INSTANCE">
            <intent-filter>
                <action android:name="androidx.wear.tiles.action.BIND_TILE_SERVICE" />
            </intent-filter>
            <meta-data
                android:name="androidx.wear.tiles.PREVIEW"
                android:resource="@drawable/tile_preview" />
        </service>

        <service
            android:name=".tiles.CompactCurrencyTileService"
            android:exported="true"
            android:label="Compact Rate"
            android:icon="@drawable/ic_exchange"
            android:permission="com.google.android.wearable.permission.BIND_TILE_INSTANCE">
            <intent-filter>
                <action android:name="androidx.wear.tiles.action.BIND_TILE_SERVICE" />
            </intent-filter>
            <meta-data
                android:name="androidx.wear.tiles.PREVIEW"
                android:resource="@drawable/tile_preview" />
        </service>

        <service
            android:name=".tiles.ChangeCurrencyTileService"
            android:exported="true"
            android:label="Rate Change"
            android:icon="@drawable/ic_exchange"
            android:permission="com.google.android.wearable.permission.BIND_TILE_INSTANCE">
            <intent-filter>
                <action android:name="androidx.wear.tiles.action.BIND_TILE_SERVICE" />
            </intent-filter>
            <meta-data
                android:name="androidx.wear.tiles.PREVIEW"
                android:resource="@drawable/tile_preview" />
        </service>

        <service
            android:name=".complications.CurrencyComplicationService"
            android:exported="true"
            android:label="@string/complication_label"
            android:icon="@drawable/ic_exchange"
            android:permission="com.google.android.wearable.permission.BIND_COMPLICATION_PROVIDER">
            <intent-filter>
                <action android:name="android.support.wearable.complications.ACTION_COMPLICATION_UPDATE_REQUEST" />
            </intent-filter>

            <meta-data
                android:name="android.support.wearable.complications.SUPPORTED_TYPES"
                android:value="SHORT_TEXT,LONG_TEXT,RANGED_VALUE,MONOCHROMATIC_IMAGE" />
            <meta-data
                android:name="android.support.wearable.complications.UPDATE_PERIOD_SECONDS"
                android:value="3600" />
        </service>

        <provider
            android:name="androidx.startup.InitializationProvider"
            android:authorities="${applicationId}.androidx-startup"
            android:exported="false"
            tools:node="merge">
            <meta-data
                android:name="androidx.work.WorkManagerInitializer"
                android:value="androidx.startup"
                tools:node="remove" />
        </provider>

    </application>

</manifest>
